.form_page {
  justify-content: center;
}

.authentication_form {
  width: 30%;
  padding: 32px 48px;
  margin-top: 32px;
  background-color: #fff;
  border-radius: 16px;
}

.authentication_form h2 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.form_inputs div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_inputs label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.form_text_input {
  height: 35px;
  padding: 0px 8px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}

.form_submit {
  height: 40px;
  width: 100%;
  margin: 25px 0px 10px;
}

em {
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

.form_link {
  margin-top: 15px;
  text-align: center;
}

.form_link a {
  color: #2c65f6;
  text-decoration: none;
}

.form_link a:hover {
  text-decoration: underline;
}
